{{>header}}
<main>
  <div id="wrapper">
    <h1>Saved Articles</h1>
    <div id="articles">
      {{#each dbArticles}}
      <div class="article">
        <h3>{{this.headline}}</h3>
        <div class="articleImage">
          <img src="{{this.imageSrc}}" alt="{{this.imageAlt}}">
          <h6>{{this.imageCaption}}</h6>
        </div>
        <div class="articleDetails">
          <a class="articleLink" href="{{this.link}}">
            <h5 class="articleInfo">{{this.date}}</h5>
            <p class="articleSummary">{{this.summary}}</p>
            <h5>
              <a class="articleUrl" href="{{this.link}}">{{this.link}}</a>
            </h5> 
          </a>
        </div>
        <div class="buttonHolder">
          <button class="removeArticle" data-id="{{this._id}}">Remove From Saved</button>
        </div>
        <div class="notesHolder">
          <h4>Article Notes</h4>
        
          {{#if this.notes}}
          <div class="existingNotes">
            <h5>Existing Notes</h5>
            {{#each this.notes}}
            <div class="noteHolder">
              <p data-note="{{this._id}}">{{this.body}}</p>
              <button class="deleteNote" data-note="{{this._id}}">Delete</button>
            </div>
            {{/each}}
          </div>
          <div class="newNote">
            <h5>New Note</h5>
            <form class="noteForm">
              <textarea class="newNoteInput" id="{{this._id}}"></textarea>
              <button class="addNewNote" data-id="{{this._id}}">Save Note</button>
            </form>
          </div>
          {{else}}
          <div class="emptyNotes">
            <h5>There are no existing notes for this article.</h5>
          </div>
          <div class="newNote">
            <h5>New Note</h5>
            <form class="noteForm">
              <textarea class="newNoteInput" id="{{this._id}}"></textarea>
              <button class="addNewNote" data-id="{{this._id}}">Save Note</button>
            </form>
          </div>
          {{/if}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</main>
{{>footer}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascript/app.js"></script>